.example-full-width {
  width: 100%;
}

.outer {
  padding: 35px 0;
  height: 350px;
  overflow-y: scroll;
  -ms-overflow-style: none;
}

.sign-in-button {
  margin-top: 6px;
  width: 100%;
  background-color: #3498db;
}

mat-icon {
  color: #3498db;
}

.nic-image-input {
  padding-top: 8px;
  color: rgba(0, 0, 0, .54);
}

.image-error {
  font-size: 10.5px;
}

.image-label-1 {
  padding-right: 31px;
}

.image-label-2 {
  padding-right: 6px;
}
